		div{
			width: 100%;
		}
		.top{
			height: 200px;
		}
		.middle{
			text-align: center;
			background:-webkit-linear-gradient(top,#fff,#F29564);
		}
		.middle div{
			border: 1px solid #D35D1F;
			border-radius:5px 30px 5px 30px;
			width: 350px;
			margin: 0 auto;
			background-color: #D35D1F;
			color: white;
		}
		.middle p{
			margin: 25px;
		}
		.bottom{
			height: 200px;
			background-color: #F29564;
		}
		.txt{
			border: 1px solid;
		}
		.btn{
			border-radius:5px;
			width: 80px;
		}