@CHARSET "UTF-8";
	*{
			font-size: 16px ;
			font-family:serif sans-serif;
		}
		.mainBody{
		 background-color:#CCCCCC;
		}
		a{
			font-weight: normal;
			text-decoration: none;
			color: #444;
		}
		a:hover{
			text-decoration:underline;
			color:red;
		}
		div {
			border: 1px solid #D35D1F;
		}
		.main{
			width: 1300px;
			margin: 10px auto;
		}
		.title{
			height: 120px;
			font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu ;
			font-size: 56px;
			line-height:120px;
			background:-webkit-linear-gradient(left,#F29564,#fff);
			background-color:#CCC
			text-indent: 50px;
		}
		#tip{
			float: right;
			font-size: 14px;
			font-weight: bold;
			margin-right: 20px;
			margin-top: 40px;
		}
		.nav{
			float: left;
			width: 200px;
			height: 455px;
		}
		.nav ul{
			list-style: none;
		}
		.nav li{
			margin-top: 10px;
		}
		.nav>ul>li{
			font-weight: bold;
		}
		.content{
			margin-left:200px;
			height: 455px;
			text-align: center;
		}
		.content table {
			width: 90%;
			border: 2px solid #D35D1F;
			border-collapse:collapse;
			margin: 0 auto;
		}
		.content th {
			border: 1px solid #D35D1F;
			background-color:#F29564;
			color:white;
			height: 28px;
		}
		.content td {
			border: 1px solid #D35D1F;
			height: 28px;
		}
		.content h1 {
			font-size: 20px;
		}
		.center{
			text-align: center;
		}
		.right{
			text-align: right;
		}
		.btn{
			width: 70px;
			margin: 5px 10px;
		}
